<h1>Employees#edit</h1>

<%= form_tag("/employees/search", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>

  <p></p>
  <hr>

  <%= check_box_tag(:pet_dog, "1", true) %>
  <%= label_tag(:pet_dog, "I own a dog.") %>
  <%= check_box_tag(:pet_cat) %>
  <%= label_tag(:pet_cat, "I own a cat.") %>

  <p></p>
  <hr>
  <%= submit_tag "Search" %>
<% end %>
